{
  "name": "{{ .project_name }}",
  "description": "{{ .description }}",
  "private": true,
  "version": "0.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "{{ if eq .variant "typescript" }}tsc -b && {{ end }}vite build",
    "preview": "serve dist"
  },
  "dependencies": {
    "@builder.io/qwik": "^1.20.0"
  },
  "devDependencies": {
    "serve": "^14.2.6",
    "vite": "^7.3.6"{{ if eq .variant "typescript" }},
    "@types/node": "^24.13.3",
    "typescript": "~6.0.2"{{ end }}{{ if .tailwind }},
    "tailwindcss": "^4.3.3",
    "@tailwindcss/vite": "^4.3.3"{{ end }}
  }
}
