import { defineConfig } from 'vite'
import { qwikVite } from '@builder.io/qwik/optimizer'
{{ if .tailwind }}import tailwindcss from '@tailwindcss/vite'
{{ end }}
// https://vite.dev/config/
export default defineConfig({
  plugins: [{{ if .tailwind }}tailwindcss(), {{ end }}
    qwikVite({
      csr: true,
    }),
  ],
})